@import './colors.styl'

button.secondary 
  background: transparent
  border: 2px solid $button-color
  border-radius: 2px
  padding: 5px 20px
  font-size: 16px
  transition: all 0.2s

button.secondary:hover
  background: $button-color
  color: #FFF